{% extends 'team_sports_app/base.html' %}

{% block content %}
<div class="page-header">
  <h3>Events{{ Event }}</h3>
</div>
  <p>Participants:</p>
{% for participant in participants %}
  <table class = "table">
    <thead>
      <tr>
        <th>When</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ participant.date_added|date:'M d, Y H:i' }}</td>
        <td>{{ participant.text|linebreaks }}</td>
      </tr>
    </tbody>
  </table>
  {% empty %}
    <p>There are no participants for this event now!</p>
  {% endfor %}
  <button type="button" class="btn btn-primary" name="Join">Join event</button>



</div>
{% endblock content %}
